.footer {
  background-color: var(--main-backgroung-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__address {
  flex-grow: 1;
  margin-right: 70px;
}

.footer__social {
  margin-right: 93px;
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--third-text-color);
  margin-bottom: 20px;
}
