.footer {
  background-color: var(--main-backgroung-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-section {
  display: flex;
  align-items: baseline;
}

.footer-address {
  flex-grow: 1;
  margin-right: 70px;
}

.address-item {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-text {
  color: var(--third-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link {
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-text:hover,
.address-text:focus {
  color: var(--accent-color);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}
