.mail-subcribe-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;

  color: var(--third-text-color);
}

.mail-subcribe-form {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.mail-subcribe-field {
  width: 358px;
  padding: 15px 16px;

  color: rgba(255, 255, 255, 0.6);

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-subcribe-field:hover,
.mail-subcribe-field:focus {
  border: 1px solid var(--accent-color);
}

input:hover::placeholder,
input:focus::placeholder {
  color: var(--accent-color);
}

.mail-subscribe-btn {
  width: 200px;
  height: 50px;
  margin-left: 12px;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-subscribe-text {
  margin-right: 10px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--third-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-subscribe-icon {
  width: 24px;
  height: 24px;
  fill: var(--third-text-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-subscribe-btn:hover,
.mail-subscribe-btn:focus {
  background-color: var(--third-text-color);
}

.mail-subscribe-btn:hover .mail-subscribe-text,
.mail-subscribe-btn:focus .mail-subscribe-text {
  color: var(--accent-color);
}

.mail-subscribe-btn:hover .mail-subscribe-icon,
.mail-subscribe-btn:focus .mail-subscribe-icon {
  fill: var(--accent-color);
}
