.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.header-logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  &__span {
    color: var(--second-text-color);
  }
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  &__span {
    color: var(--third-text-color);
  }
}
