:root {
  --main-text-color: #757575;
  --second-text-color: #212121;
  --third-text-color: #ffffff;
  --accent-color: #2196f3;
  --second-accent-color: #188ce8;
  --main-backgroung-color: #2f303a;
  --secong-background-color: #f5f4fa;
  --icons-color: #afb1b8;
}
